// system colors
$primary: #7B61FF;
$primary2: #917CFF;
$secondary: #80858B;

// background colors
$black: #000000;
$dark: #242426;
$graphite: #323537;

// contextual value
$white: #FFFFFF;
$light: #AFB2B6;
$error: #FF5154;

// tertiary colors
$green: #00A340;
$yellow: #F3A608;
$orange: #F45D2D;