@import '../_shared/cdn';
@import '../_shared/colors';

.link {
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $secondary;

    display: flex;
    gap: 20px;
    align-items: center;

    &.active {
        color: $primary;
    }

    &:hover {
        color: $primary2;
    }

    &.disabled {
        color: $graphite;
        cursor: default;
    }
}